#!/usr/bin/env bash
set -euo pipefail

{% if ctx.params.umi %}
# Using UMI arguments tuned for Takara Bio SMARTer® Stranded Total RNA-Seq Kit v3.
{% endif %}
{% set genome_val = ctx.params.genome %}
{% if ctx.params.ercc %}
{% set genome_val = genome_val + "_with_ERCC" %}
{% endif %}
echo "[info] $(date) nf-core/rnaseq profile=docker genome={{ genome_val }}"
nextflow -version || true
mkdir -p "results"

nextflow run nf-core/rnaseq \
  -r "3.22.2" \
  -profile "docker" \
  -c nextflow.config \
  --input "samplesheet.csv" \
  --outdir "results" \
{% if ctx.params.max_cpus %}
  --max_cpus "{{ ctx.params.max_cpus }}" \
{% endif %}
{% if ctx.params.max_memory %}
  --max_memory "{{ ctx.params.max_memory }}" \
{% endif %}
{% if ctx.params.umi %}
  --with_umi \
  --umitools_extract_method "regex" \
  --umitools_bc_pattern2 "^(?P<umi_1>.{8})(?P<discard_1>.{6}).*" \
{% endif %}
  --extra_salmon_quant_args="--noLengthCorrection" \
  --extra_star_align_args="--alignIntronMax 1000000 --alignIntronMin 20 --alignMatesGapMax 1000000 --alignSJoverhangMin 8 --outFilterMismatchNmax 999 --outFilterMultimapNmax 20 --outFilterType BySJout --outFilterMismatchNoverLmax 0.1 --clip3pAdapterSeq AAAAAAAA" \
  --genome "{{ genome_val }}" --igenomes_ignore true --igenomes_base "/data/shared/igenomes/" \
  --gencode --featurecounts_group_type gene_type

nextflow clean "$(grep -oP 'Run name:\s+\K\S+' .nextflow.log | tail -n 1)" -f

# Available genome in nextflow.config
# - 'GRCh38'
# - 'GRCh38_with_ERCC'
# - 'GRCm39'
# - 'GRCm39_with_ERCC'
# - 'mRatBN7.2' 
# - 'mRatBN7.2_with_ERCC'
# If you need other genomes, please build them by template ref_genomes or using igenomes:
# https://emea.support.illumina.com/sequencing/sequencing_software/igenome.html