// Minimal site config for nf-core/scrnaseq
// Customize executor/queue/resources here as needed

params {
    genomes {
        'GRCh38' {
            fasta              = '/data/ref_genomes/GRCh38/src/GRCh38.primary_assembly.genome.fa'
            gtf                = '/data/ref_genomes/GRCh38/src/gencode.v49.primary_assembly.annotation.gtf'

            // Indices
            star_index         = '/data/ref_genomes/GRCh38/indices/star'
            bowtie2_index      = '/data/ref_genomes/GRCh38/indices/bowtie2'
            bwa_index          = '/data/ref_genomes/GRCh38/indices/bwa/GRCh38'
            salmon_index       = '/data/ref_genomes/GRCh38/indices/salmon'
        }
        'GRCm39' {
            fasta              = '/data/ref_genomes/GRCm39/src/GRCm39.primary_assembly.genome.fa'
            gtf                = '/data/ref_genomes/GRCm39/src/gencode.vM38.primary_assembly.annotation.gtf'

            // Indices
            star_index         = '/data/ref_genomes/GRCm39/indices/star'
            bowtie2_index      = '/data/ref_genomes/GRCm39/indices/bowtie2'
            bwa_index          = '/data/ref_genomes/GRCm39/indices/bwa/GRCm39'
            salmon_index       = '/data/ref_genomes/GRCm39/indices/salmon'
        }
        'mRatBN7.2' {
            fasta              = '/data/ref_genomes/mRatBN7.2/src/Rattus_norvegicus.GRCr8.dna.toplevel.fa'
            gtf                = '/data/ref_genomes/mRatBN7.2/src/Rattus_norvegicus.GRCr8.115.gtf'

            // Indices
            star_index         = '/data/ref_genomes/mRatBN7.2/indices/star'
            bowtie2_index      = '/data/ref_genomes/mRatBN7.2/indices/bowtie2'
            bwa_index          = '/data/ref_genomes/mRatBN7.2/indices/bwa/mRatBN7.2'
            salmon_index       = '/data/ref_genomes/mRatBN7.2/indices/salmon'
        }
    }
}
