// Minimal site config for nf-core/cutandrun
// Customize executor/queue/resources here as needed

params {
    // Silence warnings for unused spike-in settings when normalisation_mode != Spikein
    spikein_fasta   = null
    spikein_bowtie2 = null
    dt_calc_all_matrix = false

    genomes {
        'GRCh38' {
            fasta   = '/data/ref_genomes/GRCh38/src/GRCh38.primary_assembly.genome.fa'
            gtf     = '/data/ref_genomes/GRCh38/src/gencode.v49.primary_assembly.annotation.gtf'
            bowtie2 = '/data/ref_genomes/GRCh38/indices/bowtie2'
        }
        'GRCm39' {
            fasta   = '/data/ref_genomes/GRCm39/src/GRCm39.primary_assembly.genome.fa'
            gtf     = '/data/ref_genomes/GRCm39/src/gencode.vM38.primary_assembly.annotation.gtf'
            bowtie2 = '/data/ref_genomes/GRCm39/indices/bowtie2'
        }
        'mRatBN7.2' {
            fasta   = '/data/ref_genomes/mRatBN7.2/src/Rattus_norvegicus.GRCr8.dna.toplevel.fa'
            gtf     = '/data/ref_genomes/mRatBN7.2/src/Rattus_norvegicus.GRCr8.115.gtf'
            bowtie2 = '/data/ref_genomes/mRatBN7.2/indices/bowtie2'
        }

        // Add spike-in genomes here if using Spikein normalization.
        // Example:
        // 'K12-MG1655' {
        //     fasta   = '/data/ref_genomes/K12-MG1655/src/genome.fa'
        //     bowtie2 = '/data/ref_genomes/K12-MG1655/indices/bowtie2'
        // }
    }
}
