run_id,processed_results_dir,array_type,enabled,include_samples,exclude_samples
run1,{{ ctx.params.process_results_dir }},EPIC,true,,
run2,../process_450k/results/rds,450K,false,,
run3,../process_epic_geo/results/rds,EPIC,false,,
run4,../process_epic_internal/results/rds,EPIC,false,,
