project:
  type: default
  output-dir: reports
  render:
    - steps/*.qmd

execute:
  echo: false
  warning: false
  message: false
  freeze: auto
  cache: false

format:
  html:
    theme: cosmo
    toc: true
    code-fold: false
